page-favourites {
	.grid, .col {
		padding: 0;
	}
	ion-content {
		color: darkgrey!important;
		background-image: url('../assets/imgs/background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		p {
			margin-top:20px!important;
			font-style: italic;
		}
	}
	ion-item {
		margin-top: 30px!important;
	}
	
	.card-content-md {
		font-size:0.9em;
		padding: 5px 7px;

	}

	.item-md {
		background-color: transparent;
	}
	
	[md=md-arrow-round-up] {
		color: green;
	}
	[md=md-arrow-round-down] {
		color: red;
	}
	[md=md-arrow-round-forward] {
		color: color($colors, primary);
	}

	.custom-card {
		float:left;
		width: 50%;
	}
	ion-card {
		border: 1px solid color($colors, light);
		color: color($colors, light);
	}
	
}
