page-home {
	form, input, optgroup {
		color: color($colors, primary);
	}
		#searchButton {
		height: 80%;
		margin: 0px;
		width:15%;
		background: none;
		color: #fff;
		font-size: 20px;
		position: relative;
		top:10px;
	}
	#searchButton:active {
		color: color($colors, primary);
	}
	ion-content {
		background-image: url('../assets/imgs/background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.item-md {
		background-color: transparent;
	}
	
	[md=md-arrow-round-up] {
		color: green;
	}
	[md=md-arrow-round-down] {
		color: red;
	}
	ion-card {
		border: 1px solid color($colors, light);
	}
	.card-md p {
		color: color($colors, light);
	}

	.price {
		color: white;
	}

	.itemBig, .itemSmall {
		color: #fff;
	}
	.itemBig {
		color: color( $colors, primary);
		font-size: 150%;
		font-weight: bold;
	}
	#list {

		margin-top: 10px;
		.item-md.item-block .item-inner, .list-md .item-block .item-inner {
			background-color: rgba(100,100,100, 0.5) ;
			border-bottom: 0;
			border-radius: 4px;
			margin:7px 2px;
			box-shadow: 0px 0px 8px color($colors, light);
		}
	}

}
