
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";



$colors: (
  primary:    #007cb2,
  secondary:  #0eb1f8,
  danger:     #f8540d,
  light:      #fefefe,
  dark:       #010202
);


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";


//Tabs
$tabs-md-background: color($colors, dark);
$tabs-md-tab-color-active: color($colors, primary);
$tabs-md-tab-color-inactive: color($colors, light);
$tabs-md-tab-font-size: 16px;

//Toolbar
$toolbar-md-background: transparent;
$toolbar-md-box-shadow: 0px;
$toolbar-md-border-color: color($colors, secondary);
$toolbar-md-title-text-color: color($colors, light);

//Cards
$card-md-background-color: rgba(240,240,240, 0.1);
$card-md-border-radius: 10px;
$card-md-header-color: color($colors, primary);
$card-md-header-font-size: 18px;
